/**
 * Site header
 */
.site-header {
  position: relative;
  border-bottom: 1px solid $grey-color-light;
  height:auto;
	background-color: white;
}
.site-header2 {
  position: relative;
  border-bottom: 1px solid $grey-color-light;
	background-color: Red;
  height: auto;
  @include media-query($on-palm) {
    background-color: Orange;
  }
  @include media-query($on-tablet-p) {
    background-color: Yellow;
    min-height: 800px;
    height:100vh;
  }
  @include media-query($on-tablet-h) {
    background-color: Green;
  }
  @include media-query($on-laptop) {
    background-color: Blue;
  }
}

.site-title {
  text-transform: uppercase;
	font-size: 14px;
	color: #000000;
	letter-spacing: 2.8px;
	margin: 0;
	display: inline-block;
	padding: 15px 0;
	text-decoration: none;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

/**
 * Page content
 */

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
