/**
 * Site header
 */
.site-header {
  position: relative;
  border-bottom: 1px solid $grey-color-light;
  height:auto;
	background-color: white;
}
.site-header2 {
  position: relative;
	background-color: #F1E6DA;
  height: auto;
  @include media-query($on-palm) {
    // background-color: Orange;
  }
  @include media-query($on-tablet-p) {
    // background-color: Yellow;
    min-height: 770px;
    height:100vh;
  }
  @include media-query($on-tablet-h) {
    // background-color: Green;
  }
  @include media-query($on-laptop) {
    // background-color: Blue;
  }
}

.site-title {
  text-transform: uppercase;
	font-size: 14px;
	color: #000000;
	letter-spacing: 2.8px;
	margin: 0;
	display: inline-block;
	padding: 15px 0;
	text-decoration: none;
}

.site-nav {
  float: right;
}

.site-nav a {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  line-height: 17px;
  color: rgba(0,0,0,.5);
  letter-spacing: 2px;
  margin: 0;
  display: inline-block;
  padding: 15px 0;
  text-decoration: none;
  text-decoration: none;
  position: relative;
  margin-left: 30px;
}
.site-nav a:hover {
  color: black;
}
.hero-title {
  transform: translateY(0);
	-webkit-transform: translateY(0);
	position: static;
	text-align: center;
	max-width: 520px;
	margin: auto;
	width: auto;
	padding: 140px 40px 50px 40px;
  line-height: 24px;
  font-size: 14px;
  @include media-query($on-palm) {

  }
  @include media-query($on-tablet-p) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 40px;
    width: 350px;
    opacity: 0.9;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0.47px;
    line-height: 30px;
    text-align: left;
    z-index: 1;
    padding: 0px;
  }
  @include media-query($on-tablet-h) {
    left: 100px;
  }
  @include media-query($on-laptop) {

  }
}
.hero-image {
  position: static;
	margin: auto;
	width: 50%;
  max-width: 400px;
	display: block;
  z-index: 998;
  @include media-query($on-palm) {

  }
  @include media-query($on-tablet-p) {
    position: absolute;
  	right: 15%;
  	bottom: 0;
  	width: 400px;
  }
  @include media-query($on-tablet-h) {

  }
  @include media-query($on-laptop) {

  }
}




/**
 * Page content
 */

.title {
  margin: 40px 0 0;
}

.page-heading {
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  color: $grey-color;
}

.post-link {
  display: block;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
}
